html {
    display: flex;
    justify-content: center;
    background-color: rgb(104, 76, 76);
}

button {
    margin: 20px;
}


.container {
    border: black 10px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    margin: 20px;
    height: 320px;
    width: 320px;
}

.line {
    display: flex;
    border: black 3px;
    flex: 1;
    justify-content: center;
}

.square {
    border: black 2px;
    flex: 1;
    margin: 1px;
    background-color: gray;
}

.hoverSquare {
    background-color: black;
}
